body {
    background-color: #282c34b2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
}

.wrapper {
    padding-left: 7%;
    padding-right: 7%;
}


.header_list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.pather:hover {
    text-decoration: underline;
    /*background-color: darkviolet;*/
}

.sidebar {
    z-index: 1;
    position: fixed;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-left: -75px;
}

.sidebar .background {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 95%;
}

.sidebar .button {
    position:initial;
}

.sidebar .icon {
    font-size: larger;
}

.sidebar_list {
    list-style-type: none;
    padding-inline-start: 10px;
    padding-inline-end: 5px;
}

.sidebar_title {
    justify-content: center;
    align-items: center;
    color: #FFFFFF
}

.sidebar_button {
    width: -webkit-fill-available;
    color: #FFFFFF;
    background: #141414;
}

.section_header {
    text-decoration: underline;
}

.experience_section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.info_card {
    width: 1000px;
    text-align: left;
    background: #141414;
    color: #FFFFFF;
}

.info_card .company_title {
    font-size: larger;
    font-weight: bolder;
}

.info_card .school_title {
    font-size: larger;
    font-weight: bolder;
}

.info_card .company_position {
    font-size: large;
    font-style: italic;
}

.info_card .school_goal {
    font-size: large;
    font-style: italic;
}

.info_card .job_date {
    float: right;
}

.info_card .school_date {
    float: right;
}

.skill_table {
    list-style-type: none;
    padding-inline-start: 0px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skill_item {
    padding: 4px;
    font-size: medium;
}

.carousel_style { 
    display: flex !important;
    justify-content: center;
    align-content: center;
}

.carousel_img {
    height: 350px;
}

.project_content {

}

.project_title {
    text-align: left;
}

.project_type {
    text-align: left;
}

.project_description {
    text-align: left;
}

.project_links {
    text-align: left;
}

.project_images {

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column_left {
    float: left;
    width: 60%;
}

.column_right {
    float: right;
    width: 40%;
}

.card_style {
    text-align: left;
    background: #141414;
    color: #FFFFFF !important;
}

.card_style_header {
    text-align: left;
    background: #141414;
    color: #FFFFFF !important;
}

.email_style {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    background-color: rgba(113, 25, 151, 0.507);
    color: #FFFFFF;
}

.gradient_background {
    background: linear-gradient(180deg, #3a424e, #582c3e);
    z-index: -1;
    position: fixed;
    margin:-7%;
    margin-top: -3%;
    height: 100vh;
    width: 100vw;
}

.skill_card {
    width: 80%;
    background: #141414;
    color: #FFFFFF;
}

.skill_card_title {
    color: #FFFFFF;
}

.skill_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_content {
    display: flex;
    flex-direction: column;
}