body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.header_list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.pather:hover {
    text-decoration: underline;
    background-color: darkviolet;
}

.sidebar {
    z-index: 1;
    position: fixed;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.sidebar .background {
    background-color: lightslategray;
    display: flex;
}

.sidebar .button {
    position:initial;
}

.sidebar .icon {
    font-size: larger;
}

.experience_section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.info_card {
    width: 1000px;
    text-align: left;
}

.info_card .company_title {
    font-size: larger;
    font-weight: bolder;
}

.info_card .school_title {
    font-size: larger;
    font-weight: bolder;
}

.info_card .company_position {
    font-size: large;
    font-style: italic;
}

.info_card .school_goal {
    font-size: large;
    font-style: italic;
}

.info_card .job_date {
    float: right;
}

.info_card .school_date {
    float: right;
}

.skill_table {
    list-style-type: none;
    padding-inline-start: 0px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skill_item {
    padding: 4px;
    font-size: medium;
}

.carousel_style { 
    display: flex !important;
    justify-content: center;
    align-content: center;
}

.carousel_img {
    height: 300px;
}

.project_content {

}

.project_title {
    text-align: left;
}

.project_type {
    text-align: left;
}

.project_description {
    text-align: left;
}

.project_links {
    text-align: left;
}

.project_images {

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column_left {
    float: left;
    width: 60%;
}

.column_right {
    float: left;
    width: 40%;
}